*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ 
    background-color: #fff;
    color: #555;
    font-family: lato;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(imgs/hero.jpg);
    background-size: cover; 
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%)
}

h1{margin-top: 0;
    margin-bottom: 20px;
    color: #fff; 
    font-size: 180%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing:5px;
    letter-spacing: 3px
}
.btn:link,.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.4s,color 0.4s,border  0.4s;
}

.btn-full:link,.btn-full:visited{
    background-color: #e67e22; 
    color: #fff;
    border:solid 1px #e67e22;
    margin-right: 15px;
}
.btn-ghost:link,.btn-ghost:visited{
    border:solid 1px #e67e22;
    color: #e67e22;
}

.btn:hover,.btn:active{
    background-color: #cf6d17;
}

.btn-full:hover,.btn-full:active{
    border:solid 1px #cf6d17;
}
.btn-ghost:hover,.btn-ghost:active{
    border:solid 1px #e67e22;
    color: #fff;
}
.logo{
    height: 100px; 
    width: auto; 
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right; 
    list-style: none; 
    margin-top: 55px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    font-size:90%;
    text-decoration: none; 
    text-transform: uppercase;
    border-bottom: 2px solid transparent; transition: border-bottom 0.2s;
}
.main-nav li a:hover, .main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
section {  
    padding: 80px 0;
}
h2{
   margin-top: 0;
    margin-bottom: 30px;
    font-size: 150%;
    font-weight: 300; 
  text-transform: uppercase;
    text-align: center;
    word-spacing:3px;
    letter-spacing: 3px
}
h2:after{
   display: block ;
    content: " "; 
   height: 2px; 
    width: 100px; 
   background-color: #e67e22;
  margin:30px auto 0px auto;
}
.long-copy {
    line-height: 150% ;
    width: 70%; 
    margin-left: 15%;
    margin-bottom: 30px
}
.box{
    padding: 1% 
}
h3{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 120%;
    font-weight: 300;
    text-transform: uppercase; 
    text-align: center;
}
.box p{
    font-size: 90% ;
    line-height: 150% ;
}
.section-features .fa{
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    margin-left: 100px
}
.meals-showcase{
    list-style: none; 
    width: 100%;
}
.meals-showcase li{
    display: block; 
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%; 
    margin: 0; 
    overflow: hidden;
    background-color: #000;
}
.meal-photo img{
    opacity: 0.7; 
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.section-meals{
    padding: 0;
}
.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}
.section-steps {    
    background-color: #f4f4f4;
}
.steps-box {  
    margin-top: 30px;
}
.steps-box:first-child {  
    text-align: right;
    padding-right: 3%;
}
.steps-box:last-child {  
    text-align: left; 
    padding-left: 3%; 
    margin-top: 70px;
}
.app-screen { 
    width: 40%;
}
.works-step {  
    margin-bottom: 50px; 
}
.works-step:last-of-type { 
    margin-bottom: 80px;
    /* background: #ff0000;*/
}
.works-step div {
    color: #e67e22;
    font-size: 150%; 
    height: 54px;    
    width: 54px;
    border: 2px solid #e67e22; 
    border-radius: 50%;  
    display: inline-block;
    text-align: center;  
    margin-right: 25px; 
    float: left; 
    padding: 5px;
}
.btn-app:linkb,.btn-app:visited {    border: 0; 
}
.btn-app img { 
    height: 50px; 
    width: auto;  
    margin-right: 10px;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}





.box img{
    width:100%;
    height: auto;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color:#e67e22;
    font-size: 120%;
    margin-right: 10px;
}
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
a:link, a:visited{
    color:#e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 1s, color 1s;
}
a:hover, a:active{
    color#555;
    border-bottom: 1px solid transparent;
}